
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h3 {
    font-weight: bold;
    padding: 6px;
    margin-left: 20px;
}

ul {
    list-style-type: none;
}

.spacing {
    padding-bottom: 15px;
}


.flex {
    display: flex;
}

.flex-horizontal {
    flex-direction: row;
}

.flex-vertical {
    flex-direction: column;
}

.icon {
    color: #616161;
}

.header-container {
    height:110px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    box-shadow: 2px 2px 2px 2px #d3d3d3;
    position: fixed;
    top: 0;

    header {

        justify-content: space-between;
        margin-top: 10px;
        margin-left: 10px;

        .hamburger {
            margin-top: 10px;
            margin-left: 10px;
        }

        img {
            height: 30px;
            margin-left: 30px;
        }

        .search-bar {
            background-color: #f6f6f6;



            i {
                padding-left: 18px;
                padding-right: 16px;
            }
            input {
                background-color: #f6f6f6;
                width: 650px;
                border: none;
                height: 45px;
            }
        }

        .account-icons {

            i {
                padding: 10px;
            }

        }
    }



    .navigation-links {

        margin-top: 8px;
        font-size: 16px;
        justify-content: center;



        a {
            color: blue;
            padding-right: 20px;
            padding-left: 10px;
        }
        a:hover {
            color: blue;
        }


    }





}

.body-section {
    margin-top: 120px;
    margin-left: 450px;
}

.section {
    margin-right: 300px;
    margin-left: 20px;
    margin-top:10px;
    position: fixed;
    left: 0;
    a {
        color: #616161;
        padding: 7px;
        font-weight: bold;
        width: 100%;
    }

    p {
        color: #616161;
        padding-top:7px;
        padding-left:7px;
        padding-right:7px;
        font-weight: bold;
    }
    .world {
        padding-right: 15px;
    }
    .bike {
        padding-right: 8px;
    }
    .film {
        padding-right: 11px;
    }
}

.images {
    height: 150px;
    width: 150px;
    margin-left: -15px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.story {
    margin: 10px;
    background-color: white;
    border: 1px solid lightgrey;

    .title {
        font-size: 18px;
        font-weight: bold;
    }

    .related-txt {
        color: #616161;
    }

    .small-faded {
        font-size: 12px;
        color: #616161;
    }

}
.right-column-section {
    margin-top: 22px;

    .inTheNews-section {
        h5 {
            font-weight: bold;
        }
    }

}

.container {
    background-color: white;
    height: 500px;
    width: 350px;
    justify-content: space-around;
    border: 1px solid lightgrey;

    .button {
        text-align: left;
        border-radius: 10px;
        background-color: white;
        border: 1px solid lightgrey;
    }

    a {
        color: black;
    }
}


.story:hover {
    box-shadow: 2px 2px 2px 2px #d3d3d3;
}
